@font-face {
  font-family: 'questrial';
  src: url('../fonts/questrial.ttf');
}
@font-face {
  font-family: 'mulish';
  src: url('../fonts/Mulish-400.ttf');
}
@font-face {
  font-family: 'mulish300';
  src: url('../fonts/Mulish-Italic-300.ttf');
}

$color1: #F9F9F6;
$color2: #264BCF;
$color3: #EBE8E2;
$color4: #8E8F89;
$fontFace1: questrial;
$fontFace2: mulish;
$fontFace3: mulish300;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $fontFace2;
  color: #000;
}

.wrapper {
  max-width: 1440px;
  margin: auto;
  padding: 0 15px;
}

.container {
  max-width: 1110px;
  margin: auto;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

ul {
  list-style: none;
}

.checkbox {
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 1px solid $color3;
  background: #fff;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  position: relative;
  min-width: 24px;

  span {
    color: #ffffff;
    text-align: center;
    line-height: 24px;
    visibility: hidden;
  }

  &.active {
    background-color: $color2;

    span {
      visibility: visible;
    }
  }
}

#choose-service {
  margin-top: 60px;
  margin-bottom: 74px;

  .choose-service-top {
    font-family: $fontFace1;
    margin-bottom: 34px;

    h2 {
      float: left;
      font-weight: normal;
      font-size: 36px;
    }

    span {
      display: block;
      float: right;
      font-size: 21px;
      margin-top: 8px;
    }
  }

  .choose-service {
    margin-bottom: 30px;

    .choose-service-navigation {
      width: 100%;
      height: 90px;
      border: 1px solid $color3;
      border-radius: 1px;
      list-style: none;
      display: flex;

      .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 111px;
        height: 90px;
        border-right: 1px solid $color3;
        cursor: pointer;

        &.active {
          background: $color1;
          height: 88px;
          border-bottom: 3px solid $color2;
        }

        img {
          display: block;
          margin: 8px auto;
        }
      }
    }

  }

  .list-data-service {
    display: flex;
    height: 100%;

    .data-service {
      display: block;
      width: 70.5%;
      border: 1px solid $color3;

      .nav-data-service {
        display: block;
        float: left;
        width: 28.3%;
        height: 100%;
        border-right: 1px solid $color3;

        li {
          width: 100%;
          line-height: 40px;
          padding-left: 15px;
          position: relative;
          cursor: pointer;

          &.active {
            background-color: $color3;

            &:after {
              content: '';
              display: block;
              position: absolute;
              right: -10px;
              top: 10px;
              width: 20px;
              height: 20px;
              background: #ffffff;
              transform-origin: center;
              transform: rotate(45deg);
            }
          }
        }
      }

      .selected-data-service {
        width: 71.3%;
        display: block;
        float: left;
        padding: 4px 0 20px 1px;

        .item {;
          width: 88%;
          margin-left: 12%;
          padding: 12px 7.2% 7px 0;
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-bottom: 1px solid #EBE8E2;
          position: relative;

          &:last-child {
            border-bottom: none;
          }

          .checkbox {
            display: block;
            position: absolute;
            top: 22px;
            left: -36px;
            z-index: 1;
          }

          .item-left-side {

            .data-service-name {
              display: block;
              float: left;

              h5 {
                font-size: 14px;
                line-height: 14px;
              }

              img {
                position: relative;
                top: 2px;
              }

              span {
                color: #8E8F89;                font-size: 12px;
                line-height: 15px;
              }
            }
          }

          .item-right-side {

            .details {
              display: block;
              float: left;
              font-size: 12px;
              line-height: 40px;
              color: #264BCF;
              font-weight: 600;
              margin-right: 32px;
              position: relative;
              top: -1px;
            }

            .price {
              display: block;
              float: left;
              width: 75px;

              > span {
                display: block;
                text-align: right;

                &:first-child {
                  font-size: 14px;
                  line-height: 20px;

                  span {

                    &.old {
                      text-decoration: line-through;
                      color: $color4;
                      margin-right: 8px;
                    }
                  }
                }

                &:last-child {
                  font-size: 12px;
                  line-height: 15px;
                  color: $color4;
                }
              }
            }
          }
        }
      }
    }

    .choose-service-result {
      display: block;
      width: 29.5%;
      height: 100%;
      background-color: $color3;
      padding: 11px 5px 0;

      h3 {
        color: $color4;
        font-size: 12px;
        font-weight: 700;
        line-height: 20px;
        margin-left: 20px;
        margin-bottom: 9px;
        text-transform: uppercase;
      }

      .block {
        background-color: #ffffff;
        padding: 5px 5px 0;
        margin-bottom: 8px;

        .addedService {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 14px;
          line-height: 20px;
          border-bottom: 1px solid #EBE8E2;
          padding: 9px 13px 9px 7px;

          &:first-child {
            padding: 7px 13px 9px 7px;
          }

          &:last-child {
            border-bottom: none;
          }

          div {
            display: flex;

            .price {
              text-transform: uppercase;
              margin-right: 15px;
              white-space: nowrap;
            }

            .remove {
              font-size: 25px;
              line-height: 15px;
              color: #264BCF;
              position: relative;
              top: 0;
            }
          }
        }

        &.block-master {
          height: 50px;
          position: relative;
          padding-left: 10px;
          cursor: pointer;

          .block-masters-list {
            display: none;
            border-top: 3px solid $color2;
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            width: 100%;
            height: auto;
            background: #ffffff;
            padding: 10px;
            z-index: 99 ;

            &.active {
              display: block;
            }

            .masters-list {
              padding-bottom: 10px;
              border-bottom: 1px solid $color3;
              cursor: pointer;

              &:hover {
                color: $color2;
              }

              &:last-child {
                border-bottom: none;
              }
            }
          }

          .select {
            position: absolute;
            top: 16px;
            right: 16px;
          }

          .text-block {
            img {
              position: relative;
              left: -6px;
              top: -2px;
            }
          }
        }

        &.block-date {
          display: flex;
          height: 50px;
          padding: 5px;

          > div {
            width: 50%;
            padding-left: 4px;

            &:first-child {
              border-right: 1px solid $color3;
            }

            &:last-child {
              padding-left: 12px;
            }
          }
        }

        h4 {
          color: $color4;
          font-size: 12px;
          line-height: 15px;
          font-weight: 600;
        }

        .text-block {
          font-size: 14px;
          line-height: 20px;
          margin-top: 5px;
          letter-spacing: 0.02em;
        }
      }

      .container-total {
        margin-top: 18px;

        > div {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 17px 0 10px;

          &.tax {
            padding-bottom: 15px;
            border-bottom: 1px dotted #B0AEA7;
          }

          &.total {
            padding: 4px 18px 0px 10px;

            span {
              font-weight: bold;
              font-size: 18px;
              line-height: 30px;
            }
          }

          span {
            font-size: 14px;
            line-height: 20px;

            &.price {
              font-weight: bold;
            }
          }
        }

        .conditions {
          justify-content: center;
          margin-bottom: 20px;
          text-align: center;

          .checkbox {
            position: relative;
            left: -15px;
            top: 1px;
          }

          span {
            font-size: 14px;
            line-height: 20px;

            a {
              color: $color2;
            }
          }
        }

        .order {
          display: block;
          width: 102%;
          height: 50px;
          background-color: #264BCF;
          color: #ffffff;
          border-radius: 10px;
          line-height: 50px;
          text-align: center;
          font-size: 15px;
          text-transform: uppercase;
          font-weight: 700;
          margin: 13px 0 17px;
          position: relative;
          left: -4px;
        }
      }
    }
  }
}


@media screen and (max-width: 980px) {
  #choose-service {

    .choose-service-top {

      h2 {
        font-size: 30px;
      }

      span {
        font-size: 18px;
        margin-top: 12px;
      }
    }

    .list-data-service {

      .data-service {

        .selected-data-service {

          .item {
            padding: 11px 1.2% 7px 0;

            .item-right-side {

              .details {
                margin-right: 10px;
              }
            }
          }
        }
      }

      .choose-service-result {

        .container-total {

          .conditions {

            .checkbox {
              left: 0;
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
}
